body {
	background-color: #66A5AD;
	color: #fff;
}

h4 {
	margin: 0;
}

a {
	color: #fff;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

#menu {
	margin-top: 40px;
}

.status_col {
	margin: 0 auto;
	text-align: center;
	background-color: #003B46;
	padding: 20px 0;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	transition: background-color 0.2s ease;
	font-family: 'Teko', sans-serif;
	font-size: 25px;
	cursor: pointer;
}

.status_col:hover, .status_col:focus {
	background-color: #034c59;
}

#left_status {
	border-radius: 8px 0 0 0;
}

#right_status {
	border-radius: 0 8px 0 0;
}

#middle_status {
	border-left: 1px solid rgba(255,255,255,0.8);
	border-right: 1px solid rgba(255,255,255,0.8);
}

#status {
	margin: 0 auto;
	padding: 0px;

}

#bottom {
	background-color: #003B46;
	height: 50px;
	border-radius: 0 0 8px 8px;
	box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.6);
}

#streamers {
	background-color: #07575B;
	padding: 20px 0px;
}

.logo {
	max-width: 70px;
	display: block;
	border-radius: 50%;
	border: 2px solid white;
	margin: 0 auto;
}

.logo_div {
	padding: 0;
}

.stream_div {
	display:flex;
	align-items:center;
}

.stream_status {
	font-size: 15px;
	font-weight: 400; 
}

.stream {
	transition: background-color 0.2s ease;
	padding: 10px 15px;
}

.stream:hover {
	background-color: #10777c;
}

.stream_name {
	margin: 0 15px;
}

.stream2 {
	transition: background-color 0.2s ease;
	padding: 10px 15px;
	margin: 0;
	padding: 20px 20px;
}

.stream2:hover {
	background-color: #10777c;
}
